.vh-100 {
  min-height: 100vh;
}
.vh-75 {
  min-height: 75vh;
}
.vh-50 {
  min-height: 50vh;
}
.vh-25 {
  min-height: 25vh;
}

.align-justify-center {
  align-items: center;
  justify-content: center;
}

@media (min-width: 767px) {
  .w-md-100 {
    width: 100% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .h-md-75 {
    height: 75% !important;
  }
  .h-md-60 {
    height: 60% !important;
  }
  .vh-md-100 {
    min-height: 100vh !important;
  }
  .vh-md-50 {
    min-height: 50vh !important;
  }
}
